/* El asterisco es para que los estilos se apliquen a todo el HTML */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}
/* Header */
h3{
    font-size: 24px;
}

p{
    font-size: 12px;
}
header div.top-header{
    display: flex;
    padding: 2% 0px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

header{
    position: fixed;
    top: 0px;
    background-color: #EAC926;
    width: 100%;
    z-index: 100;
}

header div.logo{
    display: flex;
    width: 40%;
    padding: 10px 0px;
}

header div.form { 
    display: flex;
    flex-direction: column;
    width: 40%;
    align-self: center;
    padding: 2px 0px;
    font-size: 11px;
}

header label.buscador{
    display: flex;
    justify-content: center;
}
header nav{
    display: none;
    font-size: 12px;
    padding: 2%;
}
header nav ul.register,
header nav ul.options { 
    display: flex;
}

header ul li{
    list-style-type: none;
    padding: 0px 10px ;
}

header ul li a{
    text-decoration: none;
    color: #000;
}

header .form .input{
    background-color: #FFF;
    border: 1px solid #000;
    outline: none;
    color: #666;
    padding: 2px;
}
header .form .submit{
    background-color: #FFF;
    border: 1px solid #000;
    color: #666;
    width: 10%;
}

header div.top-header p{
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

div.burger-menu{
    text-align: center;
}

div.burger-menu i{
    background-color: #0044AA;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    height: 40px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
    width: 40px;
}

/* Home */
body section.banner { 
    margin-top: 150px;
}
main section div.products{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.price{
    font-size: 18px;
}

.discount,
.description{
    font-size: 16px;
    font-weight: normal;
}
.description{ 
    display: none;
}
h3,
.description{
    color: #666;
}

.description{
    display: none;
    margin-top: 20px;
}

section.banner img{
    width: 100%;
}

main{
    width: 90%;
    margin: 15px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main section article{
    background-color: #fff;    
    margin: 10px ;
}

main section article img{
    width: 100%;
}

main section article i,
.discount{
    color: #39b54a;
}

main section article i{
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute; 
    right: 20px;  
    top: -15px; 
    transition: transform 1s;
}
main section div.products article:hover i { 
    transform: rotate(-90deg);
}

main section article:hover{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

main section article:hover .description{
    display: block;
}

main section h3{
    margin: 20px 0px;
}

article div.main-article{
    display: flex;
    width: 100%;
    border-top: 1px solid #ebebeb;
    padding: 15px;
    position: relative;
    flex-direction: column;
}

/* Parte del Footer */

footer{
    display: flex;
    flex-direction: column;
    background-color: #ebebeb; 
/*    box-shadow: 0px 0px 10px rgb(100, 100, 100); */
    width: 90%;
    margin: 14px auto;
}
.titulo{
    font-weight: bold;
    font-size: 90%;
}

footer div {
    background-color: #ebebeb;
    text-align: center;
    box-sizing: border-box;
    border-bottom: 1rem;
} 

footer div i{
    border-radius: 5px;
    color: #0044AA;
    font-size: 35px;
    height: 40px;
    margin: 30px 0px 0px 0px;
    box-sizing: border-box;
}

.description2{
    padding: 0 2rem;
    box-sizing: border-box;
}

/* Register */

/*PARA AMBOS MAINs*/
main input { 
    width: 100%;
    height: 40px;
    margin: 5px 0px ;
    border: none; /* <-- This thing here */
    border:solid 1px #ccc;
    border-radius: 10px;
}

.main-register div.profile { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 20%;
}

.main-register div.interests input,
.main-register div.profile input { 
    width: 20px;
}

.main-register div.profile label { 
    display: flex;
    margin-top: 17px;
    flex-grow: 0.4;
}

.main-register div.interests { 
    display: flex;
    flex-direction: column;
}
main div.interests  div { 
    display: flex;
    flex-direction: row;
}

main div.interests label{ 
    margin: 15px;
}
/* Login */

main input.Enviar { 
    background-color: #0044AA;
    color: #FFF;
} 

/* Parte Responsive */

@media (min-width: 361px){
    /* PARTE TABLET */
    /* #productos en el main */

    main section article{
        width: 40%;
    }
    
    header div.top-header { 
        padding: 10px 5px;
    }
    header nav {
        padding: 10px 5vh;
    }
    header .top-header .logo,
    header .top-header .form{
        width: 200px;
     }

     header .top-header .cuotasSinTarjeta { 
         margin-top: 3%;
         width: 290px;
     }

}

@media (min-width: 719px){
    /* PARTE DESKTOP */
    body section.banner {
        margin-top: 100px;
    }

    header .top-header .logo, 
    header .top-header .form,
    header .top-header .cuotasSinTarjeta { 
        width: 232px;
    }
    header .top-header .cuotasSinTarjeta{
        margin-top: 26px;
    }
    main section article { 
        width: 20%;
    }

    footer { 
        flex-direction: row;
    }
    .burger-menu{
        display: none;
    }

    header nav { 
        display: block;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }      

}

